<!doctype html>
<html>
  <head>
    <script type = "text/javascript">
    function showImage(){
        document.getElementById('img').style.visibility=document.getElementById('img').style.visibility == 'visible'? 'hidden' : 'visible';
    }
    </script>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <title>Question | {{ data['_source']['question'] }}</title>
  </head>

  <body>
    <div class="body">
      <h1><a class="header" href="{{ url_for('.index') }}">Eend eend ga</a></h1>
      <p>Doe zoeken dan slet.</p>
      <div class="navbar">
        <form class="form" action = "http://localhost:5000/result" method = "POST">
          <input type="text" placeholder="doe ff typtyp hier" name="search">
          <button class="btn" type="submit">getwoe</button>

          <a style="cursor: pointer;" onclick="showAdvSearch()">Extra shit</a>
          <div id="extra" style="display:none;">
            Tijd units:
            <input type="date" name="startdate" min="2009-01-28" max="2013-01-13" value={{request.form['startdate']}}>
            <input type="date" name="enddate" min="2009-01-28" max="2013-01-13" value={{request.form['enddate']}}>

            Categorie units:
            <select name = "categorylist">
              <option value=""> -Kies een categorie- </option>
              {% for hit in cat['hits']['hits'] %}
                <option value = {{ hit['_source']['categoryId'] }}> {{ hit['_source']['category'] }} </option>
              {% endfor %}

            </select>
          </div>

        </form>
      </div>
    </div>
    <table class="table">
    <thead>
      <tr>
        <th>answerId</th>
        <th>thumbsdown</th>
        <th>thumbsdown</th>
        <th>isbestanswer</th>
        <th>answer</th>
        <th>Date</th>
      </tr>
    </thead>

    <center>
    <h1>Question: {{ data['_source']['question'] }} </h1>
    <p> {{ data['_source']['description'] }}</p>
    {% if wordcloud %}
    <input id="text" type="button" value="Wordcloud" onclick="showImage();"/>
    <img id="img" src="{{ path }}" style="visibility:hidden"/>
    {% endif %}
    </center>

    {% for hit in result['hits']['hits'] %}
      <tbody>
        <tr>
          <td>{{ hit['_source']['answerId'] }}</td>
          <td>{{ hit['_source']['thumbsDown'] }}</td>
          <td>{{ hit['_source']['thumbsUp'] }}</td>
          <td>{{ hit['_source']['isBestAnswer'] }}</td>
          <td>{{ hit['_source']['answer'] }}</td>
          <td>{{ hit['_source']['date'] }}</td>
        </tr>
      </tbody>
    {% endfor %}
    </table>

    <script>
      function showAdvSearch() {
          var x = document.getElementById("extra");
          if (x.style.display == "none") {
              x.style.display = "block";
          } else {
              x.style.display = "none";
          }
      }
    </script>

  </body>
</html>
