<!doctype html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <title>User | {{ data['_source']['userId'] }}</title>
  </head>

  <body>
    <div class="header">
      <h1><a class="header" href="{{ url_for('.index') }}">{{ set.title }}</a></h1>
      <p>{{ set.subtitle }}</p>
      <div class="navbar">
        <div>
          <form action="{{ url_for('.index') }}">
            <button class="btn" type="submit">Nogmaals zoeken</button>
          </form>
        </div>

        <div id="extra" style="display:none;">
          {% if wordcloud %}
            <input id="text" type="button" value="Wordcloud" onclick="showImage();"/>
            <img id="img" src="{{ path }}" style="visibility:hidden"/>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="body">
      {% if not result['hits']['hits'] %}
        <h1> Geen resultaten gevonden </h1>
      {% else %}
        <table class="table">
          <thead>
            <tr>
              <th>answerId</th>
              <th>thumbsdown</th>
              <th>thumbsdown</th>
              <th>isbestanswer</th>
              <th>answer</th>
              <th>Date</th>
            </tr>
          </thead>

          <center>
          <h1>User: {{ data['_source']['userId'] }} </h1>
          <p> {{ data['_source']['description'] }}</p>
          {% if wordcloud %}
          <input id="text" type="button" value="Wordcloud" onclick="showImage();"/>
          <img id="img" src="{{ path }}" style="visibility:hidden"/>
          {% endif %}
          </center>

          {% for hit in result['hits']['hits'] %}
            <tbody>
              <tr>
                <td>{{ hit['_source']['answerId'] }}</td>
                <td>{{ hit['_source']['thumbsDown'] }}</td>
                <td>{{ hit['_source']['thumbsUp'] }}</td>
                <td>{{ hit['_source']['isBestAnswer'] }}</td>
                <td>{{ hit['_source']['answer'] }}</td>
                <td>{{ hit['_source']['date'] }}</td>
              </tr>
            </tbody>
          {% endfor %}
        </table>
      {% endif %}
    </div>
  </body>
</html>
